.comment__by {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #9B7161;
  font-size: 20px;
  font-weight: normal;
}

.comment__text {
  margin-bottom: 10px;
  font-weight: normal;
  color: #9B7161;
}

.list__child {
  margin-left: 20px;
}

.comments__btn {
  font-size: 14px;
  color: #9B7161;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}